<section id="homepage-{{ urlize .Params.id }}" class="strip bg-cover bg-position-top bg-overlay"
    style="background-image: url('{{ .Params.background | relURL }}');">
    <div class="container pt-17 pb-17">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                {{ with .Title }}<h2 class="text-primary text-center text-capitalize">{{ . }}</h2>{{ end }}
                <p>{{ .Content }}</p>
                {{ if .Params.button }}<a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>{{ end }}
            </div>
        </div>
    </div>
</section>
