{{ define "main" }}

{{ if eq .Params.layout "custom" }}
    {{ range .Pages }}
        {{- partial .Params.partial_layout . -}}
    {{ end }}
{{ else }}
    <section id="solutions-list" class="bg-overlay">
        <div>
            <div class="heading-bg w-100 pt-4 pb-4">
                {{ with .Title }}<h1 class="text-center text-capitalize text-white">{{ . }}</h1>{{ end }}
            </div>
            <div class="container pt-4 pb-4">
                <div class="col-12 col-md-8 offset-md-2">
                    {{ with .Pages }}
                    <div class="solutions-items">
                        {{ range . }}
                            <a href="{{ .Permalink }}">
                                {{ readFile (printf `static/%s` .Params.icon) | safeHTML }}
                                <p>{{ default .Title .Params.list_title }} - Read more...</p>
                            </a>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
{{ end }}

{{ end }}
