{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "main" }}

<section id="homepagecarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {{- range $i, $v := .Params.images -}}
        <li data-target="#homepagecarousel" data-slide-to="{{ $i }}" {{ if eq $i 0 }}class="active"{{ end }}></li>
        {{- end -}}
    </ol>
    <div class="carousel-inner">
        {{- range $i, $v := .Params.images -}}
        <div class="carousel-item {{- if eq 0 $i }} active{{ end -}}">
            {{- partial "img" (dict "src" . "Page" $) -}}
            {{ with index $.Params.carousel_captions $i }}
            <div class="carousel-caption">
                <div class="container">
                    <div class="carousel-caption__content">
                        {{ with .heading }}<h5>{{ . }}</h5>{{ end }}
                        {{ with .text }}<p class="d-none d-md-block">{{ . }}</p>{{ end }}
                        {{ if $.Params.carousel_cta_text }}<a class="carousel__cta" href="{{ default "#" (absLangURL $.Params.carousel_cta_url) }}">{{ $.Params.carousel_cta_text }}</a>{{ end }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        {{- end -}}
    </div>
    <button class="carousel-control-prev" type="button" data-target="#homepagecarousel" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#homepagecarousel" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
</section>

<section id="heptacycle" class="strip bg-cover bg-position-top bg-overlay">
    <div class="container pt-6 pb-6">
        {{ with .Resources.GetMatch .Params.secondary_section_image }}
        <picture>
            <source
                type="image/webp"
                srcset="{{- if gt .Width 450 -}}{{ (.Resize `450x webp q80`).Permalink }} 450w,{{- end -}}
                        {{- if gt .Width 750 -}}{{ (.Resize `750x webp q80`).Permalink }} 750w,{{- end -}}
                        {{- if gt .Width 1000 -}}{{ (.Resize `1000x webp q80`).Permalink }} 1000w,{{- end -}}
                        {{- if gt .Width 1200 -}}{{ (.Resize `1200x webp q80`).Permalink }} 1200w,{{- end -}}
                        {{- if gt .Width 1500 -}}{{ (.Resize `1500x webp q80`).Permalink }} 1500w,{{- end -}}
                        {{- if gt .Width 2000 -}}{{ (.Resize `2000x webp q80`).Permalink }} 2000w,{{- end -}}
                        {{ (.Resize (printf `%dx%d webp q80` .Width .Height)).Permalink }} {{ .Width }}w"
                sizes="100vw"
                >
            <img class="heptacycle" src="{{ .Permalink }}" alt="{{ .Name }}" width="{{ .Width }}" height="{{ .Height }}">
        </picture>
        {{ end }}
        <div class="row">
            <div class="col text-center mt-4">
                {{ if .Params.secondary_section_cta_text }}<a class="button" href="{{ .Params.secondary_section_cta_url | absLangURL }}">{{ .Params.secondary_section_cta_text }}</a>{{ end }}
            </div>
        </div>
    </div>
</section>

{{- partial "partners" -}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}


{{ end }}

{{ define "footer_js" }}
{{ end }}
